# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Python
+ Java
+ SQL
+ R
+ Julia

Some of the popular languages that Data Scientists use are:
    1. Python
    2. SQL
    3. R

Some of the commonly used libraries used by Data Scientists include:
    1. Matplotlib
    2. Pandas
    3. NumPy

| Data Science Tools |
|--------------------|
| Weka |
| Apache Spark |
| Project Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Adetona A. Basit